.field {
  border-width: 0px;
  background-color: #01235a60;
  height: 8%;
  position: fixed;
  top: 0;
  width: 100%;
}
h2 {
  text-align: left;
}
.main {
  margin-top: 6%;
}
/*body {
  background-color: rgb(20, 69, 185)
}*/
.mainbuttons {
  left: 600px;
}