input {
    border: none;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:2px;
    margin-right:2px;
    border-radius: 12px;
  }
  input:hover{
    transition: 0.2s;
  }