{% extends "template.html" %}

{%block head%}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/edittxt.css') }}">
    <title>{{file}}</title>

{%endblock%}

{%block body%}

    <a href="/image?filepath={{filepath}}" target="_blank"><img style="max-height: 90vh; max-width: 100vw;" src="/image?filepath={{filepath}}" /></a>
<form action="{{url_for('index')}}">
    <input type="hidden" value="{{sessionid}}" id="sessionid" name="sessionid" />
    <input type="hidden" name="path" value="{{path}}" />
    <input type="submit" value="Cancel">
</form>

{%endblock%}