<html>
<head>
  <title>Pliki</title>
</head>

<body>
  <h1>Ścieżka: "{{path}}"</h1>
  <table>
    {% for dir in dirs%}
    <tr>
      <td><img src="static/dir.png" width="20px" height="20px" /></td>
      <td><a href="/?path={{path}}/{{dir}}">{{dir}}</a></td>
    </tr>
    {%endfor%}
    {% for file in files%}
    <tr>
      {%for icon in fileicons%}
      {%if icon == file[0]%}
      <td><img src="static/{{icon}}.png" width="20px" height="20px" /></td>
      {%break%}
      {%elif icon == "unknown"%}
      <td><img src="static/{{icon}}.png" width="20px" height="20px" /></td>
      {%endif%}
      {%endfor%}
      <td>{{file[1]}}</td>
    </tr>
    {%endfor%}
  </table>
</body>

</html>