<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}"
    />
    
    {% if alert != "" %}
    <script>
      alert("{{alert}}");
    </script>
      {%endif%}
  </head>

  <body>
    <form action="{{url_for('savesettings')}}">
      <h2>Allow file delete</h2>
      {%if allowdelete%}
        <input type="checkbox" name="allowdelete" id="allowdelete" value="True" checked>
      {%else%}
        <input type="checkbox" name="allowdelete" id="allowdelete" value="True">
      {%endif%}
      <h2>Allow overwriting files when uploading</h2>
      {%if overwritefile%}
        <input type="checkbox" name="overwritefile" id="overwritefile" value="True" checked>
      {%else%}
        <input type="checkbox" name="overwritefile" id="overwritefile" value="True">
      {%endif%}
      <input type="hidden" value="{{sessionid}}" id="sessionid" name="sessionid" />
      <input type="hidden" value="{{path}}" id="spath" name="path" />
      <input type="submit" value="Save">
    </form>
    
    <form  action="{{url_for('index')}}">
      <input type="hidden" value="{{sessionid}}" id="sessionid" name="sessionid" />
      <input type="hidden" value="{{path}}" id="path" name="path" />
      <input
        style="position: absolute; right: 0%; bottom: 0%;"
        type="submit"
        value="Powrot"
      />
    </form>
  </body>

</html>
