<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%if config["colormode"]=="dark"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colormodes/dark.css') }}" />
    {%elif config["colormode"]=="light"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colormodes/light.css') }}" />
    {%elif config["colormode"]=="gray"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colormodes/gray.css') }}" />
    {%else%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colormodes/light.css') }}" />
    {%endif%}

    {%block head%}
    {%endblock%}

    {% if alert is defined %}
        {% if alert != "" %}
    <script>
        alert("{{alert}}");
    </script>
        {%endif%}
    {%endif%}
</head>

<body>
    {% block body %}
    {%endblock%}
</body>

</html>